body {
  margin:0;
  background-color: white;
}
h1, h3 {
  font-weight: bold;
  color: black;
  text-align: center;
}
div{
  overflow: hidden;
  position: relative;
}


.container-fluid{
  margin: 0;
  padding: 0;
}

.subheading{
  color: #000;
  font-family: 'Dancing Script', cursive;
  text-transform: none;
  margin-bottom: 10%;
  text-align: center;
}

#home img{
  width: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.text{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;

}
.text p, .text a{
  color: black;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  }

#home{
background-image: url("images/leso.jpg");
  background-size: cover;
  background-attachment: fixed;

  text-align: center;

}

#services1{
  background-image: url("images/v.jpg");
}

#gallery6{
  background-image: url("images/back3.jpg");
}
#gallery3{
  background-image: url("images/z.jpg");
}


#logos{
  background-color: white;

}

.container-fluid #contactinfo{
  background-color: black;
}

#gallery1{
  background-image: url("images/q.jpg");
}

.display-3{
  margin-top: 7.5%;
}

.companylogos{
  padding: 5% 0 5% 5%;
}
.companylogos img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 2.75%;
}



#contactinfo h3, #contactinfo p, #contactinfo a{
  color: white;

}
#contactinfo{
  margin-bottom: 0;
  padding-bottom: 5%;
}

.col-md-4, .col-md-6, .col-md-3, .col-md-5 , .col-md-7{
  padding: 0;
}
.demo1-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 30.5em;
}

 .bg-dark{
  background-color: black !important;
}


/* Create four equal columns that sits next to each other */
.gallery{
  padding: 1.75%;
}
.column {
  flex: 50%;
  max-width: 50%;
  padding: 4px 4px 4px 4px;
  overflow-x: hidden;
}


.column img {
  margin: 5px;
  vertical-align: middle;
  width: 125%;
  cursor: pointer;
}

.column img:hover{
filter: grayscale(75%);
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .display-3{
    font-size: 60px;
  }

  .companylogos img{
    width: 25%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
  #home img{
    width: 60%;
  }
}
