body {
  margin:0;
  background-color: White;
}
h1, h3 {
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  text-transform: none;
}
div{
  overflow: hidden;
}

div.logo.aos-init.aos-animate{
  padding: 5em;
}


.col-md-12{
  padding: 0;
}

/*.container-fluid{
  margin: 0;
  padding: 0;
}*/

.subheading{
  font-family: 'Dancing Script', cursive;
  text-transform: none;
  margin-bottom: 10%;
  text-align: center;
}



a.navbar-brand{
  font-family: 'Dancing Script', cursive;
  text-transform: none;
}


.text{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;

}
.text p, .text a{
  color: black;

  text-align: center;
  font-weight: 300;
  font-size: 22.5px;
  text-decoration: none;
  }

#home{
  filter: grayscale(0);
}
#home video{
  position: absolute;
}
#home .container-fluid{
  position: relative;
}
#welcome div.logo{
  display: inline;
  float: right;
}

#home h1{
  color: white;
}

#home h2{
  color: white;
}


#services1{
  background-image: url("images/v.jpg");
}

#gallery6{
  background-image: url("images/back3.jpg");
}
#gallery3{
  background-image: url("images/z.jpg");
}

.content{
  margin-bottom: 7.5%;
  margin-top: 7.5%;
}

.contact{
  margin-top: 15%;
  background-color: black;
  padding: 5%;
  color: white;
}

.contact ul{
  list-style: none;
}

.contact a{
  color: white;
}

.contact a:hover{
  color: grey;
  text-decoration: none;
}
.container-fluid #contactinfo{
  background-color: black;
}

#gallery1{
  background-image: url("images/q.jpg");
}

.display-1{
  margin: 5%;
  font-size: 10.75em;
  font-weight: bolder;
}

.companylogos{
  padding: 5% 0 5% 5%;
  background-color: white;
}
.companylogos img{
  width: 7.5em;
  display: block;
  margin: 0 auto;
}


.col-md-4, .col-md-6, .col-md-3, .col-md-5 , .col-md-7{
  padding: 0;
}
.demo1-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 30.5em;

}

 .bg-dark{
  background-color: black !important;
}


/* Create four equal columns that sits next to each other */
.modal-body{
  padding: 0.25rem;
}
.ekko-lightbox-nav-overlay a span{
  padding: 0;
}
.ekko-lightbox-nav-overlay a{
  font-size: 25px;
}
.column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 4px 4px 4px 4px;
  overflow-x: hidden;
}


.column img {
  margin: 5px;
  vertical-align: middle;
  width: 125%;
  cursor: pointer;
}

.column img:hover{
filter: grayscale(1);
}

.p-2 img{
  width: 3.75em;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .display-3{
    font-size: 60px;
  }
  .companylogos{
    padding: 5% 0 5% 5%;
    background-color: white;
  }
  .companylogos img{
    width: 50%;
    display: block;
    margin: 0 auto;
    filter: grayscale(1);
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  body{
    overflow-x: hidden;
  }
  #home img{
    width: 60%;
  }

  .display-1{
    font-size: 60px;
  }
}

.menu{
  position: fixed;
  background-color: white;
  height: 3.75em;
  width: 3.75em;
  z-index: 1000;
  top: 2.5%;
  left: 95%;
  padding: 1.5%;
}
.menu span{
  background-color: black;
  width: 30px;
  height: 10px;
  z-index: 2000;
  position: absolute;
  margin-bottom: 2.5%;
}
